.App
{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}

.menubar
{
    /* flex-grow:.1; */
}
.notes-list
{
    flex-grow:2;
}
