.editor-container
{
    flex-grow:3;
    padding:  20px;
}
.editor
{
    display: flex;
    flex-direction: column;
    /* max-height: 90%;
    overflow: auto; */
}
.notes-editor-heading
{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid limegreen;
    padding: 5px;
    margin: 20px 0;
    font-size: 2em;
    outline: none;
    color: limegreen;
}
.done-btn
{
    float: right;
    box-shadow: none;
    border: none;
    padding: 5px 20px;
    background-color: limegreen;
    border-radius: 3px;
    color: white;
}